 @font-face {
   font-family: 'manrope-bold';
   src: url('/fonts/manrope/Manrope-ExtraBold.ttf');
 }

 @font-face {
   font-family: 'manrope-semibold';
   src: url('/fonts/manrope/Manrope-SemiBold.ttf');
 }

 @font-face {
   font-family: 'manrope-regular';
   src: url('/fonts/manrope/Manrope-Regular.ttf');
 }

 @font-face {
   font-family: 'manrope-medium';
   src: url('/fonts/manrope/Manrope-Medium.ttf');
 }

 @font-face {
   font-family: 'manrope-light';
   src: url('/fonts/manrope/Manrope-Light.ttf');
 }

 @font-face {
   font-family: 'manrope-lighter';
   src: url('/fonts/manrope/Manrope-ExtraLight.ttf');
 }


 .bolder {
   font-family: 'manrope-bolder';
 }

 .bold {
   font-family: 'manrope-bold';
 }

 .semibold {
   font-family: 'manrope-semibold';
 }

 .medium {
   font-family: 'manrope-medium';
 }

 .regular {
   font-family: 'manrope-regular';
 }

 .light {
   font-family: 'manrope-light';
 }

 .lighter {
   font-family: 'manrope-lighter';
 }


 @font-face {
   font-family: 'bachelorette';
   src: url('/fonts/bachelorette/Bachelorette.ttf');
 }

 .bachelorette {
   font-family: 'bachelorette';
 }


 @font-face {
  font-family: 'rebond-medium';
  src: url('/fonts/RebondGrotesque/ESRebondGrotesqueTRIAL-Medium-BF6618904088566.ttf');
}

.rebond-medium {
  font-family: 'rebond-medium';
}


@font-face {
  font-family: 'rebond-regular';
  src: url('/fonts/RebondGrotesque/ESRebondGrotesqueTRIAL-Regular-BF66189040b697b.ttf');
}

.rebond-regular{
  font-family: 'rebond-regular';
}


@font-face {
  font-family: 'rebond-light';
  src: url('/fonts/RebondGrotesque/ESRebondGrotesqueTRIAL-Light-BF66189040e6001.ttf');
}

.rebond-light{
  font-family: 'rebond-light';
}


@font-face {
  font-family: 'rebond-extrabold';
  src: url('/fonts/RebondGrotesque/ESRebondGrotesqueTRIAL-Extrabold-BF661890400e032.ttf');
}

.rebond-extrabold{
  font-family: 'rebond-extrabold';
}


@font-face {
  font-family: 'rebond-extralight';
  src: url('/fonts/RebondGrotesque/ESRebondGrotesqueTRIAL-Extralight-BF6618904107ccc.ttf');
}

.rebond-extralight{
  font-family: 'rebond-extralight';
}



@font-face {
  font-family: 'rebond-bold';
  src: url('/fonts/RebondGrotesque/ESRebondGrotesqueTRIAL-Bold-BF66189040400df.ttf');
}

.rebond-bold{
  font-family: 'rebond-bold';
}