.landingpage {
    padding: 0;
    background-color: #121213;
    min-height: 100vh;
    min-width: 100vw;

    .layout {
        min-height: 100vh;
        min-width: 80vw !important;
        // margin: 0 5rem;
        // padding: 0 6rem;
    }

    .footer {
        @include landgradient;
        // padding: 3rem 6rem;
        margin-top: 80px;
        // height: 100%;
    }

    .circle-sketch-highlight-white {
        position: relative;
        z-index: 1;
    }

    .circle-sketch-highlight-white:before {
        content: "";
        z-index: -1;
        left: -0.5em;
        top: -0.1em;
        border-width: 5px;
        border-style: solid;
        border-color: #EDEDED;
        position: absolute;
        border-right-color: transparent;
        width: 100%;
        height: 1em;
        transform: rotate(2deg);
        opacity: 0.7;
        border-radius: 50%;
        padding: 0.6em 2em;
    }

    .circle-sketch-highlight-white:after {
        content: "";
        z-index: -1;
        left: -0.5em;
        top: 0em;
        padding: 0.6em 2em;
        border-width: 5px;
        border-style: solid;
        border-color: #EDEDED;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        width: 100%;
        height: 1em;
        transform: rotate(-1deg);
        opacity: 0.7;
        border-radius: 50%;
    }


    // .bg{
    //     background-image: url("/landingpage-images/bg.svg");
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    //     // background-size: cover;
    //     background-position: end;
    //     overflow: hidden;
        
    // }

    .founder{
        background-image: url("/landingpage-images/founder-bg.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // background-position: end;
        overflow: hidden;
    }




    .home {
        background-image: url("/landingpage-images/home-bg.svg");
        height: 1260px !important;
        width: 100%;
        background-size: 100% 100%;
        // background-size: cover;
        background-position: center;

        .heading {
            font-size: 200px;
            font-weight: 500;
            color: #ffffff;
            font-family: 'bachelorette';
            line-height: 1;

            @include sm {
                font-size: 100px;
            }
        }

        .sub-heading {
            font-size: 40px;
            font-weight: 300 !important;
            color: #EDEDED;
            font-family: 'rebond-regular';

            @include sm {
                font-size: 30px;
                line-height: 1;
                padding-bottom: 4rem;
            }
        }

    }

    .circle-sketch-highlight {
        position: relative;
        z-index: 1;
    }

    .circle-sketch-highlight:before {
        content: "";
        z-index: -1;
        left: -0.5em;
        top: -0.1em;
        border-width: 4px;
        border-style: solid;
        border-color: red;
        position: absolute;
        border-right-color: transparent;
        width: 100%;
        height: 1em;
        transform: rotate(2deg);
        opacity: 0.7;
        border-radius: 50%;
        padding: 0.1em 0.25em;
    }

    .circle-sketch-highlight:after {
        content: "";
        z-index: -1;
        left: -0.5em;
        top: 0.1em;
        padding: 0.1em 0.25em;
        border-width: 4px;
        border-style: solid;
        border-color: red;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        width: 100%;
        height: 1em;
        transform: rotate(-1deg);
        opacity: 0.7;
        border-radius: 50%;
    }

    .learn-text {
        font-size: 50px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.1;

        @include sm {
            font-size: 25px;
        }
    }

    .p-txt {
        color: #EDEDED;
        font-size: 30px;
        line-height: 1.2;
    }


    .investor-layout {

        width: 50%;
        margin: 0 auto;

        @include sm {
            width: 100%;
            margin: 0;
        }

        .land-button {
            display: none !important;
        }

        .label {
            font-size: 30px;
            font-weight: 300;
            color: #EDEDED !important;
            font-family: 'rebond-light';

            span {
                color: #EC1D1D;
            }
        }

        .form {
            .land-button {
                display: block !important;
                border-radius: 10px;
            }
        }



        input {
            height: 55px;
            background-color: hsla(0, 0%, 100%, 0.5);
            border: none;
            border-radius: 10px;

            &.otp {
                width: 55px;
            }

            &::placeholder {
                color: #737373;
            }

            .ant-checkbox-wrapper {
                &:nth-child(2) {
                    font-size: 16px !important;
                    font-weight: 300 !important;
                }
            }
        }
    }



    .blogs-layout {
        .blogs-bg {
            background-image: url("/landingpage-images/blogs-bg.svg");
            height: 1260px !important;
            width: 100%;
            overflow: hidden;
            // background-size: 100% 100%;
            background-size: cover;
            object-fit: cover;
            background-position: center;

            h2 {
                padding-top: 10rem !important;
            }

            h3 {
                font-size: 20px !important;
            }
        }

        // .bg{
        //     background-image: url("/landingpage-images/side-img.svg");
        //     background-repeat: no-repeat;
        //     background-size: 100% 100%;
        //     background-position: end;
        //     overflow: hidden;
        // }
    }

    .inner-blog {


        .blog1 {
            background-image: url("/landingpage-images/blog1-bg.svg");
            height: 1500px !important;
            width: 100%;
            overflow: hidden;
            // background-size: 100% 100%;
            background-size: cover;
            padding-top: 25rem !important;
            background-position: center !important;

            @include md {
                height: unset !important;
            }


            .sub-heading {
                font-size: 20px !important;
                width: 50%;
                margin: auto;
                line-height: 1;
                padding-bottom: 3rem;

                @include md {
                    width: 100%;
                }
            }



        }

        .blog2 {
            background-image: url("/landingpage-images/blog2-bg.svg");
            height: 1500px !important;
            width: 100%;
            overflow: hidden;
            // background-size: 100% 100%;
            background-size: cover;
            padding-top: 25rem !important;
            background-position: center !important;

            @include md {
                height: unset !important;
            }


            .sub-heading {
                font-size: 20px !important;
                width: 50%;
                margin: auto;
                line-height: 1;
                padding-bottom: 3rem;

                @include md {
                    width: 100%;
                }
            }
        }

        .blog3 {
            background-image: url("/landingpage-images/blog3-bg.svg");
            height: 1500px !important;
            width: 100%;
            overflow: hidden;
            // background-size: 100% 100%;
            background-size: cover;
            padding-top: 25rem !important;
            background-position: center !important;

            @include md {
                height: unset !important;
            }


            .sub-heading {
                font-size: 20px !important;
                width: 50%;
                margin: auto;
                line-height: 1;
                padding-bottom: 3rem;

                @include md {
                    width: 100%;
                }
            }
        }

        .row {
            h4.heading {
                font-size: 60 !important;

                @include md {
                    font-size: 50px !important;

                    span {
                        font-size: 20px;
                        padding: 0px;
                    }
                }
            }
        }


        .blog3-text {
            margin-top: -43rem;

            @include md {
                margin-top: 0;
            }

            .span-t {
                font-size: 22px;
                font-weight: 300 !important;
                color: #EDEDED;
                font-family: 'rebond-regular';

                @include sm {
                    font-size: 20px;
                }
            }

            .span-b {
                font-size: 22px;
                font-weight: 300 !important;
                color: #EDEDED;
                font-family: 'rebond-regular';

                @include sm {
                    font-size: 20px;
                }
            }

            .txt {
                font-size: 22px;
                font-weight: 300 !important;
                color: #EDEDED;
                font-family: 'rebond-light';
            }

            h3 {
                font-size: 30px;
            }

            li {
                font-size: 30px;
                font-weight: 500 !important;
                color: #EDEDED;
                font-family: 'rebond-regular';
            }

            .list-p {
                padding-left: 10 !important;
            }


            .list-p li {
                // padding-left: 30px !importasnt;
                list-style: auto;
                font-size: 22px;
                font-weight: 500 !important;
                color: #EDEDED;
                font-family: 'rebond-light' !important;
            }


            .table> :not(caption)>*>* {
                background: none;
                border: 1px solid #ffff !important;
                color: #fff;
            }
        }


        .list {
            padding-left: 9rem !important;
            width: 85%;

            @include md {
                width: 100% !important;
                padding-left: 0rem !important;
            }
        }

        .arrow {
            justify-content: end;
        }



    }


    .about-inner {

        padding-top: 4rem !important;

        h2 {
            font-size: 90px !important;

            @include md {
                font-size: 60px !important;
                text-align: center;
            }
        }

        .sub-heading {
            font-size: 50px !important;

            @include md {
                font-size: 20px !important;
                text-align: center;
            }
        }

        p {
            font-size: 30px;
            font-weight: 300 !important;

            @include md {
                font-size: 20px !important;



            }
        }

        .number-text {
            font-size: 200px !important;
        }

        .inner-text {
            h2 {
                font-size: 90px !important;
                line-height: 1;
        
                @include md {
                    font-size: 60px !important;
        
                }
            }
        
            h3 {
                font-size: 30px !important;
                margin-top: -20px;
                padding-left: 50px;
        
                @include md {
                    font-size: 25px !important;
                    margin-top: -10px;
                }
            }
        
           
        
           
        }


    }

}

.right .text-box {
    flex-direction: row-reverse;
    justify-content: space-between;

    @include md {
        flex-direction: row;
        justify-content: unset;
    }
}

.right .p-text {
    padding-left: 0px !important;
    width: 80% !important;

    @include sm {
        width: 100% !important;
    }
}

.number-text {
    font-size: 200px !important;
    font-weight: 500;
    -webkit-text-stroke-width: 1 !important;
    color: transparent !important;
    font-family: 'rebond-extrabold' !important;
    -webkit-text-stroke: 1px white !important;

}

.p-text {
    font-size: 22px !important;
    width: 85% !important;
    padding-left: 9rem;
    margin-top: -0.5rem;

    @include md {
        width: 100% !important;
        padding-left: 0px !important;
        margin-top: 0px;
    }
}

.ant-drawer-content.mobile-nav {
    @include landgradient;



    .mobile-navbar {
        .nav-links {
            flex-direction: column;
            gap: 16px !important;
            padding: 30px;
            font-size: 19px !important;
        }

    }
}

.heading {
    font-weight: 500;
    color: #ffffff;
    font-family: 'bachelorette';

    @include sm {
        font-size: 60px;
    }
}

.sub-heading {
    font-size: 40px;
    font-weight: 300 !important;
    color: #EDEDED;
    font-family: 'rebond-regular';

    @include sm {
        font-size: 30px;
    }
}

p {
    font-family: 'rebond-light' !important;
    font-weight: 300 !important;
    color: #EDEDED !important;
    line-height: 1.1;
}





.blog-card {

    // width: 530px !important;

    .text-box {
        background-color: #ffffff;
        padding: 25px;


        @include sm {
            width: 100% !important;
        }

        h2.heading {
            font-size: 50px;
            color: #AD0000 !important;
            padding-top: 0px !important;

            @include sm {
                font-size: 40px;
            }
        }

        p {
            color: #626262 !important;
            font-size: 18px !important;
        }

        small {
            color: #898989;
        }

        h6 {
            color: #AD0000;
            font-weight: 600;
        }
    }


}